
.citations-btn{
    padding: 0;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    background-color: #4A1515;
    color: white;
    border: none;
    font-size: larger;

    display: grid;
    grid-template-columns: 10% 80% 10%;
    justify-items: center;
    align-items: center;
}


.citations-drawer{
    border-radius: 20px 20px 0 0;
    width: 20%;
    background-color: #FFEFD5 !important;
    padding: 0% !important;
    right:auto !important;
    left:auto !important;
    overflow: hidden !important;
}

.citations-content{
    width: 100%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.7);
    padding: 2% 5%;
    overflow: hidden;
    overflow-y: auto;
}

.citations-dropbtn {
    font-style: italic;
    border: none;
    text-align: left;
}

.citations-sub-content {
    font-size: 15px;
}

.citations-sub-content.citations-sub-none {
    display: none;
}

.citations-table {
    border: 2px solid #F2E3CB;
    border-collapse: collapse;
}

/* .item must be first */
.item {
    align-items: center;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    font-size: 14px;
    justify-content: center;
}

.disabled-page {
    color: #808e9b;
}

.active {
    border-bottom: solid 1px #4A1515;
    color: #4A1515;
}

.next {
    height: 40px;
    position: absolute;
    right: 0;
    width: 10%;
}

.pagination {
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    height: 60px;
    justify-content: center;
    list-style-type: none;
    position: relative;
    width: 100%;
}

.pagination-page {
    font-weight: 700;
}

.previous {
    font-size: 4px;
    height: 40px;
    left: 0;
    position: absolute;
    width: 10%;
}

.MuiSvgIcon-root{
    fill: #4A1515 !important;
}

@keyframes updown {
  0% {
    transform: translateY(-10%);
  }

  70% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-10%);
  }
}

