.dashboard-view {
    position: relative;
    display: flex;
    flex-direction: row;

    height: calc(100dvh - var(--nav-bar-height));
}

.dashboard-graph-view {
    width: 80%;
    height: 100%;

    max-height: 100%;
    overflow: hidden;
}

.drag-active {
    opacity: 0.3;
}

.dashboard-row1,
.dashboard-row2 {
    display: flex;
    flex-direction: row;
}

.dashboard-viz1 {
    width: 65%;
    height: 50vh;

    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}


.dashboard-viz2 {
    width: 35%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}

.dashboard-viz3 {
    width: 40%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}

.dashboard-viz4 {
    width: 60%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}