.dashboard-view {
    position: relative;
    display: flex;
    flex-direction: row;

    height: calc(100dvh - var(--nav-bar-height));
}

.dashboard-filter-view {
    width: 20%;
    height: 100%;

    background-color: #D9AB96;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 25px;

    text-align: left;

    max-height: 100%;
    overflow: auto;
}

.dashboard-graph-view {
    width: 80%;
    height: 100%;

    max-height: 100%;
    overflow: auto;
}

.drag-active {
    opacity: 0.3;
}

.dashboard-row1,
.dashboard-row2 {
    display: flex;
    flex-direction: row;
}

.dashboard-viz1 {
    width: 65%;
    height: 50vh;

    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}


.dashboard-viz2 {
    width: 35%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}

.dashboard-viz3 {
    width: 40%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}

.dashboard-viz4 {
    width: 60%;
    height: calc((100dvh - var(--nav-bar-height)) * 0.5);
}

.filter-button{
    background-color: white;
    color: black;

    padding: 0px 10px;

    border: solid;
    border-color: #935959;
    font-size: 20px;
    
    &:hover{
        background-color: rgb(226, 226, 226);
    }
}

.filter-button.active{
    background-color: #935959;
    color: white;

    border-color: #935959;
}


button.filter-category{
    width: 100%;
    border: solid;
    border-color: #EAEAEA;
    background-color: white;
    padding: 5px 10px;
}

.category-group:nth-of-type(1) button{
    border-radius: 20px 20px 0 0;
}

.category-group:nth-last-of-type(1) button{
    border-radius: 0 0 20px 20px;
}

.filter-options{
    background-color: white;
    color: black;

    padding: 0px 6px;

    border: solid;
    border-color: #cacaca;
    font-size: 16px;
    
    &:hover{
        background-color: rgb(226, 226, 226);
    }
}

.filter-options.active{
    background-color: #cacaca;
    border-color: #cacaca;
}

.filter-options:nth-of-type(1){
    border-radius: 20px 0 0 20px;
}

.filter-options:nth-last-of-type(1){
    border-radius: 0 20px 20px 0;
}

.database.form-select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 20px;
}


.database-codices {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}


div.database-image-component {
    position: relative;

    width: 60px;
    height: 240px;

    opacity: 0.7;

    transition: all 0.2s ease-in-out !important;

    cursor: pointer;
}


.database-card-img-top {
    width: 60px;
    height: 240px;

    transition: all 0.2s ease-in-out !important;

    cursor: pointer;
}

.database-centered {
    position: absolute;

    color: white;
    transform: rotate(90deg);

    top: 38%;
    left: 49%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 13px;
    text-align: center;

    cursor: pointer;
}