.heatmap-area {
    width: 95%;
    height: 95%;

    position: relative;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);

    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    z-index: 0;
    transition: transform 0.5s,          /*  changed property  */
                z-index 0.5s;
}

.heatmap-expand{
    transform: scale(1.5) translate(18%, 0);
    z-index: 10;        
}


.heatmap-left-sector{
    width: 3%;
    height: 100%;
}

.heatmap-content{
    width: 85%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.heatmap-right-sector{
    width: 12%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.heatmap-expand-icon{
    width: 100%;
    height: 15%;
}

.heatmap-legend{
    width: 100%;
    height: 70%;
}

.heatmap-drag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;


    width: 100%;
    
    transition: all 0.5s ease-in-out; /* Animation for button */

    div.category {
        transition: all 0.5s ease-in-out; /* Animation for button */
        width: 200px;
        max-width: 200px;
        height: 50px;
        border: none;
        background-color: #d3c5b8;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        user-select: none;
        cursor: pointer;
    }

    div.category.shrink{
        transition: all 0.5s ease-in-out; /* Animation for button */
        max-width: 100px;
        height: 30px; 
        font-size: 13px;
    }
    

    div.category.default {
        
        transition: all 0.5s ease-in-out; /* Animation for button */
        background-color: white;
        border: dashed;
        opacity: 0.4;
    }

    .x {
        position: relative;
        top: -45%;
        left: -3%;
        cursor: pointer;
    }

    .x.shrink{
        width: 15px;
        height: 15px;
        top: -25%;
        left: -2%;
    }
    
}

.shrink{
    width: 10px;
    height: 10px;
}

.heatmap-area.dashed {

    background-image: repeating-linear-gradient(45deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(135deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(225deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(315deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px);
    background-size: 3px calc(100% + 28.28px), calc(100% + 28.28px) 3px, 3px calc(100% + 28.28px), calc(100% + 28.28px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 0.9s infinite linear;
}

@keyframes borderAnimation {
    from {
        background-position: 0 0, -28.28px 0, 100% -28.28px, 0 100%;
    }

    to {
        background-position: 0 -28.28px, 0 0, 100% 0, -28.28px 100%;
    }
}

#heatmap-chart{
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
}

.heatmap-top-sector{
    width: 100%;
    max-height: 80%;

    display: flex;
    flex-direction: row;
}

.heatmap-left-header{
    width: 15%;
    height: 100%;

    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 1%;


    border-right: 2px solid #4A1515;

    direction: rtl;
}

.heatmap-graph{
    width: 80%;
    height: 100%;

    background-color: white;

    overflow: auto;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}


.heatmap-graph::-webkit-scrollbar{
    display: none; /* Safari and Chrome */
}

.heatmap-bottom-sector{
    width: 100%;
    min-height: 30%;
    max-height: 30%;

    display: flex;
    flex-direction: row;
}

.heatmap-bottom-header{
    width: 80%;
    height: 100%;

    border-top: 2px solid #4A1515;

    overflow-y: hidden;
    overflow-x: auto;
}


.heatmap-empty-space{
    width: 15%;
    height: 100%;
}
