.heatmap-area {
    width: 95%;
    height: 95%;

    position: relative;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 20px;
}

.heatmap-drag{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-height: 15%;

    
    transition: all 0.5s ease-in-out; /* Animation for button */

    div.category {
        transition: all 0.5s ease-in-out; /* Animation for button */
        width: 200px;
        max-width: 200px;
        height: 50px;
        border: none;
        background-color: #d3c5b8;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    div.category.shrink{
        transition: all 0.5s ease-in-out; /* Animation for button */
        max-width: 100px;
        height: 30px; 
        font-size: 13px;
    }
    

    div.category.default {
        
        transition: all 0.5s ease-in-out; /* Animation for button */
        background-color: white;
        border: dashed;
        opacity: 0.4;
    }

    .x {
        position: relative;
        top: -15%;
        left: -3%;
        cursor: pointer;
    }

    .x.shrink{
        width: 15px;
        height: 15px;
    }
    
    
}

.shrink{
    width: 10px;
    height: 10px;
}

.heatmap-area.dashed {

    background-image: repeating-linear-gradient(45deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(135deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(225deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px), repeating-linear-gradient(315deg, #7d7d7d, #7d7d7d 10px, transparent 10px, transparent 20px, #7d7d7d 20px);
    background-size: 3px calc(100% + 28.28px), calc(100% + 28.28px) 3px, 3px calc(100% + 28.28px), calc(100% + 28.28px) 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
    animation: borderAnimation 0.9s infinite linear;
}

@keyframes borderAnimation {
    from {
        background-position: 0 0, -28.28px 0, 100% -28.28px, 0 100%;
    }

    to {
        background-position: 0 -28.28px, 0 0, 100% 0, -28.28px 100%;
    }
}

#heatmap-chart{
    width: inherit;
    height: inherit;

    overflow: auto;
}