.imp-people-area {
    width: 93.5%;
    height: 95%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;

    background-color: white;
    border-radius: 20px;

    z-index: 0;
    transition: transform 0.5s,
        /*  changed property  */
        z-index 0.5s;
}

.imp-expand {
    transform: scale(1.9) translate(-60%, 0%);
    z-index: 10;
}

.imp-left-section {
    width: 25%;
    height: 100%;
    background-color: #e4dad2;
    border-radius: 20px 0px 0px 20px;

    font-family: lato;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imp-search-bar {
    width: 100%;
    height: 10%;
    border-style: none;
    font-size: 13px;
    border-radius: 20px 0 0 0;
    background-color: #f1f1f1;
}

.imp-left-section-inside {
    width: 100%;
    height: 90%;
    overflow: auto;
    direction: rtl;
}

.imp-left-btn {
    direction: ltr;
    text-align: left;
    padding: 2% 5%;
    width: 100%;
    background-color: #ded0c5;
    border-top: solid 0.5px #c9c0b8;
    border-bottom: solid 0.5px #c9c0b8;
    font-size: 14.5px;
	transition: 0.3s;

    &:hover{
        
        background-color:rgb(211, 192, 178);
    }
}


.selected-imp {
    background-color: #dbc4b1;
}

.network-selected-imp{
    border-color: #C62727;
    border-width: 2px;
}

.imp-right-section {
    width: 75%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.imp-top-section {
    display: grid;
    width: 100%;
    height: 15%;
    grid-template-columns: 90% 10%;
    align-items: center;
}

.imp-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

h5.imp-top-title {
    margin: 0;
    vertical-align: middle;
}

.imp-bottom-section {
    width: 100%;
    height: 85%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: lato;
}


.imp-selected-people {
    width: calc(100%);
    height: 15%;
    display: flex;
    flex-direction: row;
    scrollbar-gutter: stable;
    overflow-y: scroll;

}

.imp-selected-people::-webkit-scrollbar {
    background-color: transparent;
}

.imp-selected-people::-webkit-scrollbar-track {
    background-color: transparent;
    box-shadow: none;
}

.imp-empty-space {
    width: 28%;
    height: 100%;
}

.imp-selected-names {
    width: 36%;
    height: 100%;
    padding: 1%;
    position: relative;
}

.imp-x {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.imp-selected-section {
    width: calc(100%);
    height: 85%;

    display: flex;
    flex-direction: column;
    scrollbar-gutter: stable;
    overflow-y: overlay;
}


.default-selection {
    width: calc(100%);
    height: calc(90%);

    font-size: small;

    border: none;;
    border-radius: 50px;
    text-align: center;

    padding: 1% 3%;

    cursor: pointer;
    line-height: calc(250%);
	transition: 0.3s;
}

.shadow-imp{
    box-shadow:  0px 9px 30px -15px rgba(0,0,0,0.75);
}

.no-selection {
    width: 100%;
    height: 100%;

	transition: 0.3s;
    border: 1.5px dashed;
    border-radius: 50px;

    display: flex;
    background-color: white;

    opacity: 0.4;
    justify-content: center;
    align-items: center;
    text-align: center;

    cursor: auto;
}


.imp-th {
    width: 28%;
    padding: 1%;
    text-overflow: clip;
    font-size: smaller;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-weight: normal;
}

.imp-td {
    width: 36%;
    font-size: small;
    text-align: center;
    border-bottom: 1px solid #dddddd;
}

.imp-same-content {
    color: #507A7D;
    background-color: #f1eeee;
}