.database-view {
    position: relative;
    display: flex;
    flex-direction: row;

    height: calc(100dvh - var(--nav-bar-height));

    background-color: violet;
}


h3{
    margin-bottom: 0;
}

th.cell,th.cardinal{
    vertical-align: middle;
}

.database-filter-view {
    width: 20%;
    height: 100%;

    background-color: #d8b89a;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0%;

    overflow: auto;
}

.database-table-view {
    background-color: white;
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.database-filter-body {
    max-height: 100%;
    width: 60%;
}

.filter-label {
    color: black;
}

table.scrolldown tbody,
table.scrolldown thead {
    display: block;
}

table.scrolldown{
    width: 100%;
    height: 86%;
}

.database-results{
    width: 100%;
    height: 5%;

    display: flex;
    flex-direction: row;
    align-items: center;
}

table.scrolldown tbody {

    /* Set the height of table body */
    height: 100%;
    width: 80dvw;

    /* Set vertical scroll */
    overflow: auto;
}

th.cell,
td.cell {
    font-family: 'Spectral';
    min-width: 200px;
}

td.description {
    min-width: 350px;
}

th.cardinal,
td.cardinal {
    min-width: 80px;
}

.loader {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6em;
    height: 6em;
    border: 1.1em solid rgba(0, 0, 0, 0.2);
    border-left: 1.1em solid #000000;
    border-radius: 50%;
    animation: load8 1.1s infinite linear;
    transition: opacity 0.3s;
}

.loader--hide {
    opacity: 0;
    animation: none;
    transition: none;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.search-input{
    color: black;
}