.background {
  fill: none;
  pointer-events: all;
}

.viz{
  position:relative;
  padding-top: 10%;
}

#countries {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 0.5px;
}

#countries .active {
  display: none;
}

.country:hover {
  fill: #b89281
}


.mark:hover {
  fill: #6d2c0e
}

.tooltip {
  position: absolute;
  background-color: #ffffff;
  width: max-content;
  height: max-content;
  font-size: 11px;
  padding: 4px;
  color: #242424;
  border: none;
  box-shadow: 0px 0px 3px 0px #E6E6E6;
}