:root {
    --nav-bar-height: 145px;
}

nav {
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background: #4A1515;
    color: white;
    font-family: "Celtic";
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 22%;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: #805956;
    font-weight: bold;
    padding: 10px 20%;
    font-size: 1.25rem;
}

nav img {
    position: relative;
    top: -1em;
}

nav a:hover {
    background: #805956;
    color: white;
}

.selected {
    color: white;
}

.ornament {
    width: 15%;
}

.languages {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: inherit;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-content-hide {
    display: none;
}

.dropdown-content-show {
    display: block;
    font-size: 15px;
    position: absolute;
    right: 0;
    background-color: #4A1515;
    min-width: 190px;
    box-shadow: 16px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 25px 25px;
}

.dropdown-content-show button {

    width: 190px;
    text-align: left;
    color: #805956;
    padding: 5px 16px;
    text-decoration: none;
    background-color: #4A1515;
    display: block;
    border: transparent;
    border-radius: 25px 25px 25px 25px;
}

button.flagbutton {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

.dropdown-content-show p {
    text-align: right;
}


.dropdown-content-show button:hover {
    background-color: #381010;
}


.flag {
    display: inline-flex;
    width: 30px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    justify-content: center;
}

button.flagselected {
    color: white;
}

.icon-language {
    width: 30px;
    object-fit: contain;
}