:root {
    --nav-bar-height: 16dvh;
}

h1.title{
    font-size: 2.5dvw;
    margin: 0;
}

nav {
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    height: var(--nav-bar-height);
    background: #4A1515;
    color: white;
    font-family: "Celtic";
    padding-top: 2dvh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    width: 22%;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    padding-left: 1dvh;
    padding-right: 1dvh;
}

nav a {
    text-decoration: none;
    color: #805956;
    font-weight: bold;
    padding: 1dvh 10dvh;
    font-size: 1.2dvw;
    
	border-radius: 20px;
}

nav a:hover {
    background: #805956;
    color: white;
}

.navbar-selected {
    color: white;
}

.ornament {
    position: relative;
    top: -0.5dvh;
    width: 15dvw;
    height: auto;
}

.languages {
    position: absolute;
    top: 50%;
    right: 1%;
    z-index: inherit;
}

.navbar-dropbtn {
    background-color: transparent;
    color: white;
    border: none;
}

.navbar-dropdown {
    position: relative;
    float: right;
}

.navbar-dropdown-content-hide {
    display: none;
}

.navbar-dropdown-content-show {
    display: block;
    font-size: medium;
    position: absolute;
    right: 0;
    background-color: #4A1515;
    width: 190px;
    box-shadow: 16px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 25px 25px;
}

.navbar-dropdown-content-show button {

    width: 100%;
    text-align: left;
    color: #805956;
    padding: 5px 16px;
    text-decoration: none;
    background-color: #4A1515;
    display: block;
    border: transparent;
    border-radius: 25px 25px 25px 25px;
}


.navbar-dropdown-content-show p {
    text-align: right;
}


.navbar-dropdown-content-show button:hover {
    background-color: #381010;
}


.flag {
    display: inline-flex;
    width: 30dvw;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 5px;
    justify-content: center;
}


button.flagbutton {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: flex-end;
}

button.flagselected {
    color: white;
}

.icon-language {
    width: 30px;
    object-fit: contain;
}