.background {
  fill: none;
  pointer-events: all;
}

.viz {
  position: relative;
  width: 45dvw;
  height: 35dvh;
}

#countries {
  fill: none;
  stroke: black;
  stroke-linejoin: round;
  stroke-width: 0.5px;
}

#countries .active {
  display: none;
}

.country:hover {
  fill: rgb(163, 131, 116)
}


.mark:hover {
  fill: #6d2c0e
}