.background {
	fill: none;
	pointer-events: all;
}

.viz {
	position: relative;
	display: flex;
	flex-direction: row-reverse;
	width: 45dvw;
	height: 35dvh;
}

.maplegend{
	width: 13%;
	height: 35dvh;
}

#countries {
	fill: #d8b89a;
	stroke: #d8b89a;
	stroke-linejoin: round;
	stroke-width: 0.5px;
}

#countries .active {
	display: none;
}

/* 
.country:hover {
  fill: rgb(163, 131, 116)
} */


.mark:hover {
	fill: #656d9b !important
}

.map-icons{
	
	width: 35px;
	position: absolute;
}