#style-1::-webkit-scrollbar {
    height: 8px;
    border-radius: 10px;
    background-color: #F5F5F5;
}


@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
    }
}

.timeline-tick {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.timeline-card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    height: 20%;
}

.timeline-principal {
    height: 100%;
    width: 100%;
}

.timeline {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.timeline-card {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0% 7%;
    justify-items: center;
    align-content: space-between;

    height: 90%;

    background-color: transparent;
    color: white;
    --mdb-card-box-shadow: 0;

    border-radius: 0% !important;
    border-bottom: white !important;
    border-style: solid !important;
    border-width: 0 0 5px 0 !important;
}

.card-img-top {
    height: 100%;
    width: auto;
    opacity: 50%;
}


.timeline-sec-collection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80%;
}

div.image-component {

    position: relative;
    transition: all 0.2s ease-in-out !important;

    cursor: pointer;

    opacity: 0.8;
}

.centered {
    position: absolute;
    padding: 5%;
    transform: rotate(180deg);
    top: 35%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: small;
    text-align: center;

    user-select: none;
}