@font-face {
  font-family: 'Celtic';
  src: local('Celtic'), url(./assets/fonts/celtic.TTF) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url(./assets/fonts/EBGaramond-Medium.ttf) format('truetype');
}

html, body {
  overflow: unset;
}

body {
  font-family: 'EB Garamond', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.pageBody{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #be9a97;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #805956;
}