@font-face {
  font-family: 'Celtic';
  src: local('Celtic'), url(./assets/fonts/celtic.TTF) format('truetype');
}

@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), url(./assets/fonts/EBGaramond-Medium.ttf) format('truetype');
}

html,
body {
  max-width: 100dvw;
  overflow: unset;
  scroll-behavior: smooth ;
}

.pageBody {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  color: black;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #ECECEC;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #be9a974d;
  background-color: #B5B5B5;
  border-radius: 20px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  -webkit-box-shadow: inset 0 0 4px #8059564d;
  background-color: #816563;
}